@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

#tv{
    opacity: 0;
top: 0;
right:0;
transform: translate(-0.1%,150px);
 width: 446px;
 position: absolute;
 background-color: blue;
 transition: linear 500ms ;
 filter: grayscale(100%);
}

span{
    cursor: pointer;
    font-weight: bold;
    text-decoration: underline;
}

#container_media{
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: tomato;
}

.container div > img{
    display: flex;
    align-items: center;
    background-color: red;
    width: 400px;
    height: 100vh;
    position: relative;
}

footer > h5{
    font-weight: lighter;
    font-size: 12px;
}

footer > h5 > a {
    transition: linear font-size 300ms;
    text-decoration: underline;
}

footer > h5 > a:hover {
    font-size: 15px;
    
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Indie Flower', cursive;
}

a{
    text-decoration: none;
    color: inherit;
}

body{
    background-color: black;
    width: 100vw;
    height: 100vh;   
    overflow-x: hidden;
}

main{
    display: flex;
    flex-direction: column;
    width: inherit;
    height: inherit;
}

.container{
    display: flex;
 justify-content: space-between;
 align-items: center;   
}

.container article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 99;
    width: 60%;
    box-shadow:40px 0 100px #000;
}

article > div:nth-child(1){
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

article > div:nth-child(1) > h1{
    font-size: 31px;
}


article > div:nth-child(3){
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: center;
  
}

article > div:nth-child(3) > h2{
    font-size: 17px;
    letter-spacing: 10px;
}

article > div:nth-child(2){
    display: flex;
    justify-content: center;
    align-items: center;
   
}

article > div > p{
    font-size: 14px;
    text-align: justify;
    padding: 50px;
    letter-spacing: 1px;
}




main > footer{
   box-shadow: 0 10px 100px #000;
   z-index: 9999;
    display: flex;
    justify-content: center;


}

main > footer > h5{
    margin: 10px
}

.container img{
    filter: grayscale(100%);
}

.container main{
    position: relative;
    display: flex;
    background:linear-gradient(to right ,#000 100%);
    width: inherit;
    height: inherit;
}



