@media(max-width:600px){
    

    

    *{
        box-shadow: none;
    }

    .container_media{
        position: absolute;
        top: 0;
    }

    article{
        background-color:rgba(0, 0, 0, .6);
    }
    
    img{
        opacity: .8;
        height: 100%;
        width: 100%;
    }

    .container_media{
        justify-content: center;
        align-items: center;

    }

    h1{
        margin: 100px;
    }

   #tv{
    margin-top: 100px;
       max-width: 99%;
   }

    body{
               width: 100%;
    }

    p{
        line-height:30px;
    }

    article{
        flex: auto;
    }

    .container_content{
       width: auto;
    }
}